body {
  font-size: 1em;
  line-height: 1.8em;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2em;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.5em;
}

/* ------------------- */
/* Custom color styles */
/* ------------------- */
.color-bg {
  background-color: #daf0f9;
}

/* ----------------- */
/* Header and navbar */
/* ----------------- */
nav {
  background-color: #2e2e2e;
}

.navbar-dark {
  color: #daf0f9;
}

nav a {
  color: #daf0f9;
}

nav .container {
  max-width: 720px;
}

.cover {
  max-height: 80vh;
  margin: 0 auto;
  height: 90vh;
  padding: 2em;
  text-align: center;
  color: #daf0f9;
  text-shadow: 2px 3px 5px black;
  background-image: url("imgs/cover.jpg");
  background-size: cover;
}

.cover h1 {
  font-size: 3em;
}

header a {
  color: #daf0f9;
}

/* ---- */
/* Main */
/* ---- */
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-about {
  width: 100%;
  height: auto;
  border-radius: 20%;
  max-width: 300px;
  margin-bottom: 1.1em;
}

.shadow {
  box-shadow: 5px 5px 5px #2e2e2e;
}

/* Change style of title on small size displays */
@media (max-width: 940px) {
  .img-about {
    max-width: 200px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1c9c94;
}

a:hover {
  opacity: 0.5;
  color: #1c9c94;
}

/* Icons style */
.fab,
.ai,
.fas {
  border: 1px solid #2e2e2e;
  border-radius: 50%;
  font-size: 1.3em;
  color: #2e2e2e;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

/* ------ */
/* Footer */
/* ------ */

footer {
  text-align: center;
  color: #daf0f9;
  background-color: #2e2e2e;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 0.9em;
  line-height: 1.4em;
}

footer a {
  color: #daf0f9;
  font-weight: bold;
}
